# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# ----------------------------
# Virtual environments
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# Git
# ----------------------------
.git
.gitignore

# ----------------------------
# IDE files
# ----------------------------
.vscode/
.idea/
*.swp

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Test artifacts
# ----------------------------
allure-results/
allure-report/
reports/
test-results/
playwright-report/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# CI/CD
# ----------------------------
.gitlab-ci.yml

# ----------------------------
# Node leftovers (Playwright deps)
# ----------------------------
node_modules/

# ----------------------------
# Environment files
# ----------------------------
.env
.env.*

# ----------------------------
# Docker files not needed inside image
# ----------------------------
docker-compose.yml
README.md